Source: libmarpa
Section: unknown
Priority: optional
Maintainer: Jean-Damien Durand <jeandamiendurand@free.fr>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Homepage: http://github.com/jeffreykegler/Marpa--R2/
Vcs-Git: git://github.com/jeffreykegler/Marpa--R2.git
Vcs-Browser: http://github.com/jeffreykegler/Marpa--R2/

Package: libmarpa
Architecture: all
Depends: ${misc:Depends}
Description: Parse any language you can describe in BNF - development files
 Marpa is a new parsing algorithm with a decades-long heritage.
 Its lineage starts with the algorithm invented by Jay Earley.
 Marpa is the first algorithm to combine the improvements to Earley's algorithm
 made by Joop Leo with those discovered by John Aycock and R. Nigel Horspool.
 Marpa's "situational awareness", and Ruby Slippers parsing, are a new feature.
